* {
	padding: 0;
	margin: 0;
}

body {
	min-width: 1270px;
	background: black;
}

a {
	color: white;
	text-decoration: none;
}

#container {
	max-width: 1270px;
}

	#Header {
		display: block;
		position: relative;
		width: 1200px;
		height: 600px;
		margin: auto;
		margin-top: 20px;
	}

	#upperHeader {
		width: 100%;
		height: 80px;
	}

	.logoHeader {
		display: block;
		position: relative;
		left: 12%;
		width: 280px;
		height: 280px;
		background: url(meatzade.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: -5px;
		float: left;
	}


	#ulTopRight {
		list-style-type: none;
		float: right;
		margin-top: 30px;
	}

	#ulTopRight li {
		display: inline-block;
		position: relative;
		word-spacing: 5px;
		border-right: 1px solid #f7f1e3;
		font-size: 20px;
		float: left;
		left: -10%;
		padding: 8px;
	}

	#ulTopRight li a:hover {
		color: #ffb142;
	}

	#picture {
		width: 1270px;
		height: 400px;
		border: 1px solid white;
		margin-top: 10%;
		background: url(picture.jpg);
	}

	.details {
		width: 100%;
		height: 50px;
		background: rgba(0,0,0,0.5);
	}

	.details h1 {
		margin-top: 10%;
		text-align: center;
		color: #ced6e0;
		font-size: 25px;
		font-family: 'Merriweather', serif;
		padding: 10px;
	}

	#footerSection {
		width: 100%;
		height: 360px;
		background: black;
		margin-top: 10%;
	}

	#footerContainer {
		width: 1270px;
		height: 360px;
		margin: auto;
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}

	#leftFooter {
		width: 33.3%;
		height: 360px;
	}

	.logo {
		display: block;
		position: relative;
		top: 1%;
		left: 20%;
		width: 280px;
		height: 160px;
	}

	#socialLogos {
		margin: auto;
		top: -10%;
		margin-right: -10px;
		width: 260px;
		height: 100px;
		display: flex;
		flex-wrap: wrap;
	}

	.facebookLogo {
		width: 20%;
		height: 50px;
		background: url(facebook.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.instagramLogo {
		width: 20%;
		height: 50px;
		background: url(instagram.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.twitterLogo {
		width: 20%;
		height: 50px;
		background: url(twitter.png);
		background-size: contain;
		background-repeat: no-repeat;
	}



	#middleFooter {
		width: 31%;
		height: 360px;
	}

	#middleFooter h2 {
		color: #f7f1e3;
		font-family: 'Merriweather', serif;
		text-align: center;
		line-height: 50px;
		border-bottom: 3px solid #ffeaa7;
	}

	#middleFooter p {
		color: #f7f1e3;
		font-family: 'Merriweather', serif;
		line-height: 15px;
		text-align: left;
		margin-top: 20px;
	}

	#rightFooter {
		width: 30%;
		height: 360px;
		margin-left: 5%;
	}

	#rightFooter h2 {
		color: #f7f1e3;
		font-family: 'Merriweather', serif;
		text-align: center;
		line-height: 50px;
		border-bottom: 3px solid #ffeaa7;
	}

	#rightFooter p {
		color: #f7f1e3;
		font-family: 'Merriweather', serif;
		text-align: left;
		line-height: 25px;
		margin-top: 20px;
	}

	#rightFooter input {
		width: 250px;
		height: 35px;
		margin: auto;
		margin-top: 20px;
	}